[submodule "submodules"]
	path = submodules
	url = https://github.com/miguelgrinberg/microdot.git
[submodule "submodules/micropython-tools"]
	path = submodules/micropython-tools
	url = git@gitlab.gaul.za:gaulnet/micropython-tools.git
