[submodule "submodules"]
	path = submodules
	url = https://github.com/miguelgrinberg/microdot.git
[submodule "submodules/micropython-tools"]
	path = submodules/micropython-tools
	url = git@gitlab.gaul.za:gaulnet/micropython-tools.git
[submodule "submodules/microdot"]
	path = submodules/microdot
	url = https://github.com/miguelgrinberg/microdot.git
[submodule "submodules/wifi-manager"]
	path = submodules/wifi-manager
	url = git@gitlab.gaul.za:gaulnet/micropython-wifi-manager.git
[submodule "submodules/hcsr04"]
	path = submodules/hcsr04
	url = https://github.com/rsc1975/micropython-hcsr04.git
