body {
    background: #252525;
    color: #ccc;
    /***
     * Changing this font size should scale the full site accordingly.
     * The only other thing to manually change are checkboxes. See for the
     * config section input below.
     * */
    font: 48px sans-serif;
    white-space: nowrap;
}

.viewport {
    /* Centers the viewport both horizontally and vertically on the page. */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #555;
    padding: 10px;
    border-radius: 0.4em;
    box-shadow: 4px 4px 8px #111;
    max-width: 90%;
}

.sitehead {
    text-align: center;
    font-size: 150%;
    font-weight: bolder;
    margin: 0px 0px 18px 0px;
    text-shadow: 1px 2px 2px #999;
    color: #5D8BE0;
}

/* Hide all sections - the default will be shown on app startup */
div.sect {
    display: none;
}

/*<<<< Navigation block at the top of the site >>>>*/
div.nav {
    position: relative;
    top: -10px;
    background: #101010;
    border-radius: 0.4em;
    font-size: 60%;
    padding: 0em 0.2em;
}

div.nav span {
    cursor: pointer;
    width: 1em;
}
div.nav span.active,
div.nav span:hover {
    color: #379237;
}
/*>>> END: Navigation block <<<*/


/*<<<< Overlay styling to disable underlying elements >>>>*/
/** NOTE: To create an overlay in any block, the parent blocks needs to have a
 * position of relative or sticky applied, or else the overlay will not fully
 * cover the block.
 * Then just add:
 * <div class="overlay"><div>
 * to the parent block, and control the overlay from JS using the display
 * property.
 **/
div.overlay {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 80%;
    z-index: 1000;
    border-radius: 0.4em;
}

/*<<<< Steering grid block >>>>*/
div.steer {
    background: #101010;
    width: fit-content;
    margin: auto;
    border: 1px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, 1.6em);
    grid-template-rows: repeat(4, 1.6em);
    grid-template-areas:
        ". fwd . spd strk"
        "rotl run rotr spd strk"
        ". rev . spd strk"
        "angle angle angle angle angle";
    grid-gap: 1px;
}

div.steer .grid-item {
    background: #252525;
}

div.steer .fwd {
    grid-area: fwd;
}
div.steer .rotr {
    grid-area: rotr;
}
div.steer .rev {
    grid-area: rev;
}
div.steer .rotl {
    grid-area: rotl;
}
div.steer .run {
    grid-area: run;
}
div.steer .spd {
    grid-area: spd;
}
div.steer .strk {
    grid-area: strk;
}
div.steer .angle {
    grid-area: angle;
}
/*
div.steer .ang_lab {
    grid-area: ang_lab;
}
div.steer .angle {
    grid-area: angle;
}
div.steer .ang_val {
    grid-area: ang_val;
}
*/

div.steer .grid-item.material-icons {
    font-size: 1.2em;
    place-self: center;
    border-radius: 5px;
    cursor: pointer;
}

div.steer .grid-item.vslider,
div.steer .grid-item.hslider {
    place-self: center;
    border-radius: 5px;
    padding: 3px;
    font-size: 0.23em;
    text-align: center;
}
div.steer .grid-item div.label {
    margin: 0px;
}
div.steer .grid-item.vslider input {
    width: 100%;
}
div.steer .grid-item.hslider {
    place-self: center;
    width: 90%;
    position: relative;
    height: 2em;
}
div.steer .grid-item.hslider input {
    width: 70%;
    position: absolute;
    right: 15%;
}
div.steer .grid-item.hslider div.label,
div.steer .grid-item.hslider div.val {
    position: absolute;
    width:15%;
    left 0%;
    white-space: break-spaces;
    /* The top and transform centers the div vertically */
    top: 50%;
    transform: translateY(-50%);
}
div.steer .grid-item.hslider div.val {
    right: 0%;
}
/*<<<< END: Steering grid block >>>>*/


div.app_version {
	font-size: small;
	position: relative;
	left: 0px;
	bottom: 0px;
	color: #888;
}

