body {
    background: #252525;
    color: #ccc;
    /***
     * Changing this font size should scale the full site accordingly.
     * The only other thing to manually change are checkboxes. See for the
     * config section input below.
     * */
    font: 48px sans-serif;
    white-space: nowrap;
}

.viewport {
    /* Centers the viewport both horizontally and vertically on the page. */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #555;
    padding: 10px;
    border-radius: 0.4em;
    box-shadow: 4px 4px 8px #111;
    max-width: 90%;
}

.sitehead {
    text-align: center;
    font-size: 150%;
    font-weight: bolder;
    margin: 0px 0px 18px 0px;
    text-shadow: 1px 2px 2px #999;
    color: #5D8BE0;
}

/*<<<< Navigation block at the top of each section >>>>*/
div.nav {
    position: relative;
    top: -10px;
    background: #101010;
    border-radius: 0.4em;
    font-size: 60%;
    padding: 0.2em 0.2em 0;
}

div.nav span {
    font-size: 150%;
    cursor: pointer;
}
div.nav span:hover {
    color: #379237;
}
/*>>> END: Navigation block <<<*/


/*>>> Range sliders styling. <<<*/
.range-wrap {
  position: relative;
  /*margin: 0 auto 3rem;*/
  height: 1em;
  /* To reset the body.white-space: nowrap or else the bubble is not below the slider. */
  white-space: normal;
}
.range {
  width: 100%;
}
.bubble {
  background: #0ab59d;
  color: #002f31;
  padding: 2px 8px;
  position: absolute;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30%;
  top: 110%;
  height: 30%;
}
.bubble::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: #0ab59d;
  top: -1px;
  left: 50%;
}
/*>>> END: Range sliders styling. <<<*/

/*<<<< Overlay styling to disable underlying elements >>>>*/
/** NOTE: To create an overlay in any block, the parent blocks needs to have a
 * position of relative or sticky applied, or else the overlay will not fully
 * cover the block.
 * Then just add:
 * <div class="overlay"><div>
 * to the parent block, and control the overlay from JS using the display
 * property.
 **/
div.overlay {
    position: absolute;
    display: none;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 80%;
    z-index: 1000;
    border-radius: 0.4em;
}
/*<<< Control section >>>*/

/* The servo block needs a position for the overlay to cover it completely. See
 * the comment for the overlay styling. */
div.sect.control div.servo {
    position: relative;
}

/* This on the table ensures column width are equally sized */
div.sect.control table {
    table-layout: fixed;
    width: 100%;
}
/* Without this, input fields inside the table are not relative to the global
 * font size. */
div.sect.control table td input {
    font-size: inherit;
}

/* Input fields for trim and phase shifts */
div.sect.control table th,
div.sect.control table td {
    text-align: center;
    font-size: smaller;
}

/* Float the save button right */
div.sect.control table span.save < tr {
    position: absolute;
}
div.sect.control table span.save {
    position: absolute;
    right: 0%;
    background: #101010;
    border-radius: 25%;
    padding: 0.5ex;
    cursor: pointer;
}


/* Number Input fields */
div.sect.control table input[type=number] {
    width: 2.5em;
    height: 1em;
    font-size: smaller;
}
/* Trim is slightly less wide */
div.sect.control table tr.trim input[type=number] {
    width: 2em;
}

/* Steering table row and span button */
div.sect.control table tr.steering td {
    padding-top: 0.5em;
}
/* All buttons are in span elements, and they all look the same */
div.sect.control table tr.steering span {
    background: #101010;
    border-radius: 1ex;
    cursor: pointer;
    font-size: 1ex;
    position: relative;
}
div.sect.control table tr.steering span.left {
    right: -1.5ex;
}
div.sect.control table tr.steering span.fwd {
    right: -1ex;
    top: -2ex;
}
div.sect.control table tr.steering span.rev {
    left: -2ex;
    bottom: -2ex;
}
div.sect.control table tr.steering span.right {
    left: -2.5ex;
}
/* Controls table row and span button */
div.sect.control table tr.controls td {
    /*padding-top: 1em;*/
}
/* All buttons are in span elements, and they all look the same */
div.sect.control table tr.controls span {
    font-size: 110%;
    background: #101010;
    padding: 0.2ex 1ex;
    border-radius: 1.2ex;
    cursor: pointer;
    margin: 1ex 0px;
}
/* Can't find a horizontal align icon for the center servos button, so need to
 * rotate a vertical one. This means we need to also rotate all padding, etc.
 */
div.sect.control table tr.controls span.centerservos {
    transform: rotate(90deg);
    padding: 1ex 0.2ex;
    border-radius: 1.2ex;
    margin: 0px 1ex;
}
/*<<< END: Control section >>>*/


div.app_version {
	font-size: small;
	position: relative;
	left: 0px;
	bottom: 0px;
	color: #888;
}

