[TYPECHECK]
ignored-modules=uos,micropython,network,machine,utime,uasyncio,ulogging,microdot_asyncio,microdot_cors,servo,map_to,ujson,gc


[BASIC]
good-names=h,
           i,
           j,
           k,
           l,
           m,
           n,
           o,
           w,
           x,
           y,
           z,
           ex,
           Run,
           _

function-naming-style=camelCase
class-naming-style=PascalCase
method-naming-style=camelCase
